.header{
    height: 50px;
    border: 1px solid black;
    position: relative;
}

.headerLinks{
    position: absolute;
    top: 10px;
    right: 70px;
}

a{
    text-decoration: none;
}

.headerLinksImg{
    padding: 0 10px 0 10px;
    height: 25px;
}

.headerLogo{
    position: absolute;
    top: 10px;
    left: 70px;
}

.headerLogoImg{
    height: 35px;
}

.userFonImg{
    z-index: auto;
    height: 250px;
    width: 1500px;
}

.cameraImg{
    position: absolute;
    top: 60px;
    right: 77px;
    border: 1px solid #1B1C19;
    background-color: #1B1C19;
    border-radius: 100%;
    height: 30px;
}

.addUserPost{
    height: 40px;
    width: 200px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #00BDAD;
    color: white;
    position: absolute;
    top: 220px;
    right: 70px;
}

.addUserText{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 13px;
}

.addUser{
    position: absolute;
    left: 10px;
    top: 5px;
    height: 30px;
}

.userProfileInfo{
    height: 500px;
    width: 250px;
    overflow: hidden;
    position: absolute;

    left: 70px;
    background-color: lightsteelblue;
}

.userPhoto{
    height: 140px;
    border-radius: 100%;
    position: relative;
    top: -70px;
    left: 50px;
    z-index: auto;
}

.userName{
    position: absolute;
    left: 60px;
    top: 100px;
    font-family: 'Solway', serif;
    font-size: 18px;
}

.userNavigation{
    position: absolute;
    left: 100px;
    top: 130px;
    font-family: 'Solway', serif;
    font-size: 15px;
}

.userNavigationImg{
    position: absolute;
    top: 129px;
    left: 75px;
    height: 16px;
}

.userScope{
    position: absolute;
    top: 180px;
    left: 40px;
    font-family: 'Solway', serif;
    font-size: 18px;
}

.plus{
    position: absolute;
    top: 211px;
    left: 90px;
    color: white;
    font-family: 'Solway', serif;
    font-size: 14px;
}
.scope{
    position: absolute;
    top: 200px;
    left: 40px;
    color: white;
    font-family: 'Solway', serif;
    font-size: 25px;
}

.badgesText{
    position: absolute;
    top: 270px;
    left: 40px;
    font-family: 'Solway', serif;
    font-size: 18px;
}

.viewProfile{
    width: 250px;
    height: 50px;
    background-color: coral;
    position: absolute;
    bottom: 0;
}

.text{
    position: absolute;
    top: 15px;
    left: 50px;
}

.link{
    position: absolute;
    bottom: 60px;
    left: 50px;
    color: grey;
}

.badgesImg{
    height: 20px;
}

.badges{
    display: flex;
    overflow: hidden;
}

.badgesItem{
    position: absolute;
    padding: 15px;



}